<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- packages.config projects reference ..\packages from src\*, i.e. src\packages -->
    <add key="repositoryPath" value="src\packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
